<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/vendor/bootstrap.css">
	<link rel="stylesheet" href="/vendor/bootstrap-icons.css">

	<link rel="stylesheet" href="/css/style.css">

	<title>Digi-Ticket Helpdesk</title>
</head>

<body class="d-flex flex-column h-100">
	<%- include('./parts/header') %>

	<main class="container mt-5">
		<h1 class="fw-bold text-center">
			<i class="bi bi-ticket-perforated"></i>
			Ticket # <%- ticket.TicketID %>
			<i class="bi bi-ticket-perforated"></i>
		</h1>

		<% if (session.user.Type === 3) { %>
		<div class="row">
			<div class="col-md-6">
				<label>Assign to employee</label>
				<form class="input-group mb-3" method="post" action="/assign">
					<select class="form-select" name="employee">
						<option selected>Select helpdesk employee</option>
						<% for (var employee of employees) { %>
						<option value="<%- employee.UserID %>" <% if (employee.UserID === ticket.SupportID) { %> selected <% } %>>
							<%- employee.Name %>
						</option>
						<% } %>
					</select>
					<input type="hidden" name="ticket" value="<%- ticket.TicketID %>">
					<button class="btn btn-success">Assign</button>
				</form>
			</div>
			<div class="col-md-6">
				<label>Change deparment</label>
				<form class="input-group mb-3" method="post" action="/deparment">
					<select class="form-select" name="deparment">
						<option selected>Select helpdesk deparment</option>
						<% for (var deparment of deparments) { %>
						<option value="<%- deparment.DeparmentID %>" <% if (deparment.DeparmentID === ticket.DeparmentID) { %> selected <% } %>>
							<%- deparment.Name %>
						</option>
						<% } %>
					</select>
					<input type="hidden" name="ticket" value="<%- ticket.TicketID %>">
					<button class="btn btn-primary">Change</button>
				</form>
			</div>
		</div>
		<% } %>


		<div class="row">
			<div class="col">
				<div class="list-group mb-3">
					<div class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Deparment</div>
							<%- ticket.DeparmentName %>
						</div>
					</div>
					<div class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Subject</div>
							<%- ticket.Subject %>
						</div>
					</div>
					<div class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Support</div>
							<%- ticket.SupportName || "Not assigned" %>
						</div>
					</div>
					<div class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Status</div>
							<span class="badge text-bg-<%- ticket.Status == 1 ? "primary" : ticket.Status == 2 ? "primary" : ticket.Status == 3 ? "success" : ticket.Status == 4 ? "warning" : ticket.Status == 5 ? "secondary" : "danger" %>">
								<%- ticket.StatusFormat %>
							</span>
						</div>
					</div>
				</div>

				<% if (session.user.UserID === ticket.ClientID || session.user.UserID === ticket.SupportID) { %>
				<div class="mb-3 text-end">
					<button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#answer">
						<i class="bi bi-send"></i> Answer
					</button>
				</div>
				<div class="modal fade" id="answer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<form action="/answer" method="post">
								<div class="modal-header">
									<h1 class="modal-title fs-5">
										<i class="bi bi-plus-circle"></i> Answer ticket
									</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
								</div>
								<div class="modal-body">
									<input type="hidden" name="ticket" value="<%- ticket.TicketID %>">
									<div class="mb-3">
										<label class="form-label">Message</label>
										<textarea class="form-control" rows="3" name="message"></textarea>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-sm btn-success">Answer</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<% } %>
			</div>
			<div class="col-sm-8 mb-3">
				<div class="row justify-content-center">
					<% for (var message of messages) { %>
					<div class="alert alert-light">
						<div class="row mb-3 fw-bold">
							<div class="col-md-6 text-start">
								<i class="bi bi-person"></i> <%- message.UserName %>
							</div>
							<div class="col-md-6 text-end">
								<i class="bi bi-calendar4-event"></i> <%- message.CreationFormat %>
							</div>
						</div>
						<hr>
						<div class="">
							<%- message.Text %>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</main>

	<%- include('./parts/footer') %>

	<script src="/vendor/bootstrap.js"></script>
</body>

</html>